body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 20px;
  height: 85px;
}
header h2{
  margin: 0;
  padding: 0;
}
.left-header{
  display: flex;
  align-items: center;
}
.right-header h3,h4{
  margin: 5px;
  padding: 0;
}
.img img{
  width: 50px;
  padding: 5px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: antiquewhite;
  margin-top: 20px;
  column-gap: 10px;
}
.container div{
  border-radius: 20px;
    border: solid 2px;
    height: 250px;
    text-align: center;
    font-size: 30px;
}
.html-section{
  background-color: coral;;
}
.css-section{
  background-color: lightblue;
}
.js-section{
  background-color: yellow;
}