body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 20px;
  height: 85px;
}
header h2{
  margin: 0;
  padding: 0;
}
.left-header{
  display: flex;
  align-items: center;
}
.right-header h3,h4{
  margin: 5px;
  padding: 0;
}
.img img{
  width: 50px;
  padding: 5px;
}